/*mobile*/
@media only screen and (max-width: 600px) { 
    body {
        background-image: url(https://i.pinimg.com/736x/c8/bb/5b/c8bb5b15f306b29a72f710d80ad3efc1.jpg);
          background-size: cover;
        opacity: 1.7;
        max-height: 100%;
    }
    #container {
        display: grid;
        grid-template-areas: 
        'alfa alfa alfa alfa alfa alfa'
        'echo echo echo echo echo echo'
        'echo echo echo echo echo echo'
        'delta delta delta bravo bravo bravo'
        'delta delta delta bravo bravo bravo'
        'foxtrot foxtrot charlie charlie charlie charlie '
        'hotel hotel hotel hotel hotel hotel '
        'hotel hotel hotel hotel hotel hotel '
        'golf golf golf golf golf golf '
        'golf golf golf golf golf golf '
        
        'india india india india india india';
        font-family: 'Macondo', cursive;
        font-size: 0.9em;
        color: aliceblue;
        text-shadow: solid black 10%;
        padding-left: 1%;
        padding-right: 1%;
        gap: 0.5%
    }
    h1 {
        color: white;
        text-shadow: -2px 2px 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px -2px 0;
        font-family: 'Merienda', cursive;
    }
    p {
        padding-left: 2%;
        padding-right: 2.5%;
        text-align: justify;
        background-color:rgba(0, 0, 0, 0.318);
        border-radius: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    li { 
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        list-style-type: none;
        background-color:rgba(0, 0, 0, 0.301);
    }
    .alfa {
        grid-area: alfa; 
        font-size: 2em;
        text-align: center;
    }
    .bravo { 
        grid-area: bravo;
    }
    .charlie {
        grid-area:charlie;
    }
    .delta {
        grid-area: delta
    }
    .echo {
        grid-area: echo;
        width: 100%; 
        height: 100%;
    }
    .foxtrot {
        grid-area:foxtrot;
    }
    .golf {
        grid-area:golf;
        text-decoration-line: hidden
    }
    .hotel {
        grid-area: hotel;
        height: 100%;
 width: 100%; 
    }
    .india {
        grid-area: india;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    img {
        height: 80%;
        width: 100%; 
        padding-bottom:3%;
    }    
    .echo img {
        max-height: 100%;
        max-width: 100%; 
    }
    .hotel img {
        
        width: 100%; 
    }
    .fa-facebook {
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 15%;
        font-size: 1.5em;
        width: 15%;
        text-align: center;
        text-decoration: none;
    }
    .fa-instagram {
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 15%;
        font-size: 1.5em;
        width: 15%;
        text-align: center;
        text-decoration: none;
    }
    .fa-telegram {
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 15%;
        font-size: 1.5em;
        width: 15%;
        text-align: center;
        text-decoration: none;
    }
}


/*Desktop*/
@media only screen and (min-width: 600px) {
    body {
        background-image: url(https://i.pinimg.com/736x/c8/bb/5b/c8bb5b15f306b29a72f710d80ad3efc1.jpg);
        background-size: cover;
        opacity: 1.5;
       
  }
    #container {
        display: grid;
        grid-template-areas: 
        'alfa alfa alfa alfa alfa alfa'
        'delta echo echo echo echo bravo'
        'foxtrot foxtrot charlie charlie charlie charlie '
        'golf golf golf hotel hotel hotel '
        'golf golf golf hotel hotel hotel'
        'india india india india india india'
        'india india india india india india';
        font-family: 'Macondo', cursive;
        font-size: 0.9em;
        color: aliceblue;
        text-shadow: solid black 10%;
        padding-left: 1%;
        padding-right: 1%;
        gap: 0.5%;
    }
    h1 {
        color: white;
        text-shadow: -2px 2px 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px -2px 0;
        font-family: 'Merienda', cursive;
    }
    .alfa { 
        /*background-color:cadetblue;*/ 
        grid-area: alfa; 
        font-size: 2em;
        text-align: center;
    }
    .bravo { 
        /*background-color:coral*/ 
        grid-area: bravo;
    }
    .charlie {/*background-color: aqua*/ 
        grid-area:charlie;
    }
    .delta {
        /*background-color: rgb(16, 219, 152)*/ 
        grid-area: delta;
    }
    .echo {
        /*background-color: red*/ 
        grid-area: echo;
    } 
    .foxtrot {
        /*background-color:chartreuse*/
        grid-area:foxtrot;
    }
    .golf {
        grid-area:golf;
        text-decoration-line: hidden;
    }
    .hotel {
        /*background-color: chocolate*/
        grid-area: hotel;
    }
    p {
        padding-left: 2%;
        padding-right: 2.5%;
        text-align: justify;
        background-color:rgba(0, 0, 0, 0.318);
        border-radius: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    li { 
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        list-style-type: none;
        background-color:rgba(0, 0, 0, 0.318);
    }
    img {
        width: 90%; 
        padding-left: 5%; 
        padding-top:3%;
        padding-bottom:3%;
    }
    #ghibli {
        padding-top: 13%;
    }
    .india {
        grid-area: india;
        text-align: center;
        display: flex;
        flex-direction: row;
       margin: 0;
       padding: 0;
       
    }
    .fa-facebook {
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 15%;
        font-size: 1.5em;
        width: 15%;
        text-align: center;
        text-decoration: none;
    }
    .fa-instagram {
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 15%;
        font-size: 1.5em;
        width: 15%;
        text-align: center;
        text-decoration: none;
    }
    .fa-telegram {
        color: rgb(255, 255, 255);
        border-radius: 50%;
        padding: 15%;
        font-size: 1.5em;
        width: 15%;
        text-align: center;
        text-decoration: none;
    }
}